.hif-lable{
    color: #656575;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.hif-input{
color: #292D32;
font-family: Inter;
font-size: 15px;
font-style: normal;
line-height: normal;
}